body{
    background-color:  rgb(218, 141, 228);
}
.primero{
    background-color: rgb(189, 112, 205);
}
.tl{

    text-align: center;
    font-family: arial;
    font-size: 15px;
    padding: 5px;
}
.tl .img{
    justify-content: center;
    top: 3%;
    width: 190px;
    height: 185px; ;
}
.texto{
    font-family: arial;
    font-size: 30px;
}
.per{
    font-size: 25px;
    font-weight: 700;
    font-family: cursive;
}
.parafo{
    font-family: arial black;
}
.pat{
    font-family: arial;
}
